@model ASPNETCore_ChatApp.Models.User

@{
    ViewData["Title"] = "ChatHub";
}

<div class="container">
    <div class="d-flex justify-content-between col-12 pt-3 pb-2">
        <h1>ChatHub</h1>
        <a class="btn btn-dark my-auto text-white">Logout</a>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 list-panel">
            <div class="text-white">
                <div class="d-flex flex-row my-4">
                    <div class="d-flex">
                        <img class="my-auto img-round" src="~/img/@Model.Image" alt="user" width="34" height="34" />
                    </div>
                    <div class="d-flex flex-wrap align-content-center h-100">
                        <h5 class="text-white mb-0 col-12">@Model.Username</h5>
                        <p class="statusTxt text-secondary mb-0 col-12">Offline</p>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <p class="text-white mb-0">Users online</p>
                        <span>(<span id="usersCount"></span>)</span>
                    </div>
                    <hr class="bg-white mt-0" />
                </div>
            </div>
            <ul class="nav flex-column" />
        </div>
        <div class="col-12 col-md-9 message-panel">
            <h3 class="text-white py-3">Your conversation with <span id="convo_partner_name">convo_partner_name</span></h3>
            <div class="message-box">
                <div class="message-container">
                    <div class="message ml-auto">
                        <div>
                            <div class="msg-container">
                                <p>Hello</p>
                            </div>
                            <span>5 mins ago</span>
                        </div>
                        <img class="img-round" src="~/img/@Model.Image" alt="user" width="34" height="34" />
                    </div>
                </div>
            </div>
            <input type="hidden" id="userInput" value="@Model.Username" />
            <div class="message-input d-flex">
                <input type="text" id="messageInput" class="form-control" placeholder="Write a message" />
                <button id="sendButton" class="btn">Send</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<!--<script src="~/lib/jquery/dist/jquery.signalr-2.2.js"></script>-->
<script src="~/js/chat.js"></script>
